# =========================
# ROOT
# =========================
node_modules/
dist/
build/
dev/
.env
.env.local
.env.*.local
.vscode/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.swp

# =========================
# BACKEND - ppalink-backend
# =========================
ppalink-backend/node_modules/
ppalink-backend/dist/
ppalink-backend/.env
ppalink-backend/.env.production
ppalink-backend/prisma/migrations/
ppalink-backend/.turbo/
ppalink-backend/.next/
ppalink-backend/*.log

# =========================
# FRONTEND - ppalink-frontend
# =========================
ppalink-frontend/node_modules/
ppalink-frontend/dist/
ppalink-frontend/build/
ppalink-frontend/.env
ppalink-frontend/.next/
ppalink-frontend/*.log

