--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Industry; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Agency; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Agency" (id, "ownerUserId", name, "rcNumber", "industryId", website, "sizeRange", "domainVerified", "cacVerified", "logoKey", "headquartersStateId", "lgaId", "createdAt", domain) FROM stdin;
7b63f0d4-ae27-46f4-8e3b-cabb88daa3d8	c1cfe44e-a176-474b-bf35-48398dca09c9	OhGiveThanks	\N	\N	\N	\N	t	t	\N	\N	\N	2025-09-17 20:07:32.599	tedunjaiyeseun@gmail.com
f7472be1-137d-42c4-b74a-9217988bd932	097944c2-3582-4220-ade4-4a93ab404375	AdinKems Inc.		553	https://www.adinkems.com	30-40	t	t	\N	37	\N	2025-09-05 08:06:38.204	\N
\.


--
-- Data for Name: AgencyMember; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AgencyMember" (id, "agencyId", "userId", role) FROM stdin;
8b66dfd6-9086-403b-b948-8c61bb7cff79	f7472be1-137d-42c4-b74a-9217988bd932	097944c2-3582-4220-ade4-4a93ab404375	OWNER
f2a37fec-899b-4fa7-83e5-3d091370ba41	7b63f0d4-ae27-46f4-8e3b-cabb88daa3d8	c1cfe44e-a176-474b-bf35-48398dca09c9	OWNER
\.


--
-- Data for Name: SubscriptionPlan; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: AgencySubscription; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AgencySubscription" (id, "agencyId", "planId", "endDate", status, "stripeCurrentPeriodEnd", "stripeCustomerId", "stripeSubscriptionId", "createdAt") FROM stdin;
ac2a9a7a-c2e6-4d3c-b058-7fa8bca1ade5	f7472be1-137d-42c4-b74a-9217988bd932	307e72e7-163a-438f-a22e-44f43e0e2a17	\N	ACTIVE	2025-10-19 01:40:00	cus_T53Pt00dPoqCgP	sub_1S8tItIGb6x0f404uGKe17Hh	2025-09-19 01:40:06.085
\.


--
-- Data for Name: CandidateProfile; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Position; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Application; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: CandidateCertificate; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CandidateCertificate" (id, "candidateId", title, issuer, "issuedAt", "fileKey", "fileHash", verified, "verifierId") FROM stdin;
\.


--
-- Data for Name: Skill; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Skill" (id, name, slug) FROM stdin;
1	React.js	react.js
2	Node.js	node.js
3	TailwindCSS	tailwindcss
4	PostgresSQL	postgressql
5	REST	rest
6	xfbcnbb	xfbcnbb
7	dfg	dfg
8	dfsgfd	dfsgfd
9	dasgffh	dasgffh
10	bnvc	bnvc
11	TypeScript	typescript
12	Tailwind CSS	tailwind-css
13	REST APIs	rest-apis
14	Git/GitHub	git/github
15	Golang	golang
16	Express.js	express.js
17	Canva	canva
\.


--
-- Data for Name: CandidateSkill; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CandidateSkill" (id, "candidateId", "skillId", level, years) FROM stdin;
9695cc96-4ee8-457c-a4a5-5a90b0314556	243d4130-0256-4a3e-89f5-c99888237c0f	1	1	\N
5e047d77-8fa6-43ea-a75e-5eb97cbeee29	243d4130-0256-4a3e-89f5-c99888237c0f	2	1	\N
dfab9e99-573b-4e93-b42c-8912b012116f	243d4130-0256-4a3e-89f5-c99888237c0f	4	1	\N
37cfb270-ceef-40fc-a80b-a69ad8e9088a	243d4130-0256-4a3e-89f5-c99888237c0f	12	1	\N
865d8b1a-5760-4b3a-b9bc-40887c509a64	243d4130-0256-4a3e-89f5-c99888237c0f	16	1	\N
91c9fae8-e4a3-4c8f-8677-3b121c6ca981	243d4130-0256-4a3e-89f5-c99888237c0f	17	1	\N
\.


--
-- Data for Name: Credential; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Credential" (id, "candidateId", "fileUrl", type, hash, verified) FROM stdin;
\.


--
-- Data for Name: Education; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Education" (id, "candidateId", institution, degree, field, grade, "startDate", "endDate", "createdAt", "updatedAt") FROM stdin;
2be402a0-a2b1-496c-b40d-6f08375d52db	243d4130-0256-4a3e-89f5-c99888237c0f	The Federal University of Technology, Akure	Bachelor of Technology	Computer Science	Second Class Upper	2018-01-10 00:00:00	2024-01-04 00:00:00	2025-09-10 00:09:03.175	2025-09-21 13:28:28.476
\.


--
-- Data for Name: FeatureFlag; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."FeatureFlag" (name, description, "isEnabled") FROM stdin;
enableAiRecommendations	Enables the AI-powered candidate matching feature for Enterprise agencies.	f
\.


--
-- Data for Name: Interview; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Interview" (id, "applicationId", "scheduledAt", mode, location, status) FROM stdin;
\.


--
-- Data for Name: Invitation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Invitation" (id, email, "agencyId", "inviterId", token, "expiresAt", status, "createdAt") FROM stdin;
\.


--
-- Data for Name: LocationState; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."LocationState" (id, name) FROM stdin;
75	Abia
76	Adamawa
77	Akwa Ibom
78	Anambra
79	Bauchi
80	Bayelsa
81	Benue
82	Borno
83	Cross River
84	Delta
85	Ebonyi
86	Edo
87	Ekiti
88	Enugu
89	Gombe
90	Imo
91	Jigawa
92	Kaduna
93	Kano
94	Katsina
95	Kebbi
96	Kogi
97	Kwara
98	Lagos
99	Nasarawa
100	Niger
101	Ogun
102	Ondo
103	Osun
104	Oyo
105	Plateau
106	Rivers
107	Sokoto
108	Taraba
109	Yobe
110	Zamfara
111	Abuja (FCT)
\.


--
-- Data for Name: LocationLGA; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Offer; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Offer" (id, "applicationId", salary, "startDate", status) FROM stdin;
\.


--
-- Data for Name: PositionSkill; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."PositionSkill" ("positionId", "skillId") FROM stdin;
d45805c9-c04f-4f5a-8beb-5cc970888e66	1
d45805c9-c04f-4f5a-8beb-5cc970888e66	11
d45805c9-c04f-4f5a-8beb-5cc970888e66	12
d45805c9-c04f-4f5a-8beb-5cc970888e66	13
d45805c9-c04f-4f5a-8beb-5cc970888e66	14
\.


--
-- Data for Name: Setting; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Setting" (key, value, description, "updatedAt") FROM stdin;
maintenanceMode	false	If true, the entire public-facing site will be disabled.	2025-09-24 12:32:25.624
freeJobPostLimit	2	The number of open jobs an agency on the 'Free' plan can have.	2025-09-24 12:32:25.624
freeMemberLimit	1	The number of team members an agency on the 'Free' plan can have.	2025-09-24 12:32:25.624
\.


--
-- Data for Name: Shortlist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Shortlist" (id, "agencyId", "candidateId", source, "createdAt") FROM stdin;
\.


--
-- Data for Name: Verification; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: WorkExperience; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."WorkExperience" (id, "candidateId", company, title, description, "startDate", "endDate", "isCurrent", "createdAt", "updatedAt") FROM stdin;
c831e99a-6e8d-4ca0-801e-6642ebba36fb	243d4130-0256-4a3e-89f5-c99888237c0f	Tertiary Education Trust Fund (TETFund)	HR Administrator	I worked in the HR Registry unit.	2024-10-09 00:00:00	2025-07-31 00:00:00	f	2025-09-09 22:57:47.282	2025-09-12 15:43:34.513
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Industry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Industry_id_seq"', 636, true);


--
-- Name: LocationLGA_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."LocationLGA_id_seq"', 2322, true);


--
-- Name: LocationState_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."LocationState_id_seq"', 111, true);


--
-- Name: Skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Skill_id_seq"', 17, true);


--
-- PostgreSQL database dump complete
--

