--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Industry; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Agency; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: AgencyFollow; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AgencyFollow" ("followerId", "agencyId", "createdAt") FROM stdin;
5900ca1a-625c-4a14-8331-ee286900ad73	f7472be1-137d-42c4-b74a-9217988bd932	2025-10-10 10:00:33.178
\.


--
-- Data for Name: AgencyMember; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AgencyMember" (id, "agencyId", "userId", role) FROM stdin;
8b66dfd6-9086-403b-b948-8c61bb7cff79	f7472be1-137d-42c4-b74a-9217988bd932	097944c2-3582-4220-ade4-4a93ab404375	OWNER
f2a37fec-899b-4fa7-83e5-3d091370ba41	7b63f0d4-ae27-46f4-8e3b-cabb88daa3d8	c1cfe44e-a176-474b-bf35-48398dca09c9	OWNER
524f4f02-feca-47f1-9dfc-5c6b5d0e8d79	446e6e40-2164-4c5f-8007-f66d6f0adb83	4313db21-5881-4c76-ad21-ab78fbe56d67	OWNER
\.


--
-- Data for Name: SubscriptionPlan; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: AgencySubscription; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."AgencySubscription" (id, "agencyId", "planId", "endDate", status, "stripeCurrentPeriodEnd", "stripeCustomerId", "stripeSubscriptionId", "createdAt") FROM stdin;
5d2865ed-f1a6-46e1-bf73-a278be95cb8a	f7472be1-137d-42c4-b74a-9217988bd932	18b6484d-cd07-4fb5-b724-c5907049c251	\N	ACTIVE	2025-11-12 15:57:51	cus_TDtR0gxh0NGLBc	sub_1SHRefIGb6x0f404R4bePZYb	2025-10-12 15:57:58.097
\.


--
-- Data for Name: CandidateProfile; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Position; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Application; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: BoostTier; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BoostTier" (id, name, price, "durationInDays", "reachMultiplier", description, "stripePriceId") FROM stdin;
1ffa8ac4-063f-4abc-b1cf-031cda8497df	STANDARD	5000	3	2	+2x Reach for 3 Days	price_1SHsI3IGb6x0f404Gt1GARZq
3d518f55-d68d-4616-accd-93625de223c8	PREMIUM	15000	7	5	+5x Reach for 7 Days	price_1SHsJoIGb6x0f404N3Si1zsI
\.


--
-- Data for Name: CandidateCertificate; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Skill; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: CandidateSkill; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Credential; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Education; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: FeatureFlag; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."FeatureFlag" (name, description, "isEnabled") FROM stdin;
enableAiRecommendations	Enables the AI-powered candidate matching feature for Enterprise agencies.	f
\.


--
-- Data for Name: FeedItem; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: FeedBoost; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Interview; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Invitation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Invitation" (id, email, "agencyId", "inviterId", token, "expiresAt", status, "createdAt") FROM stdin;
\.


--
-- Data for Name: JobView; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: LocationState; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."LocationState" (id, name) FROM stdin;
482	Abia
483	Adamawa
484	Akwa Ibom
485	Anambra
486	Bauchi
487	Bayelsa
488	Benue
489	Borno
490	Cross River
491	Delta
492	Ebonyi
493	Edo
494	Ekiti
495	Enugu
496	Gombe
497	Imo
498	Jigawa
499	Kaduna
500	Kano
501	Katsina
502	Kebbi
503	Kogi
504	Kwara
505	Lagos
506	Nasarawa
507	Niger
508	Ogun
509	Ondo
510	Osun
511	Oyo
512	Plateau
513	Rivers
514	Sokoto
515	Taraba
516	Yobe
517	Zamfara
518	Abuja (FCT)
\.


--
-- Data for Name: LocationLGA; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Message" (id, "fromId", "toId", subject, body, "createdAt", "readAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Offer; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Offer" (id, "applicationId", salary, "startDate", status) FROM stdin;
56a87f9e-7eb4-4662-90db-f79ba2e45910	d6fa6c3d-52a7-423b-afcb-fba551577c94	2500000	2025-10-08 00:00:00	ACCEPTED
d3d2354c-404a-47a2-b421-b48dd77f184d	d6fa6c3d-52a7-423b-afcb-fba551577c94	300000	\N	ACCEPTED
93e26f3c-959b-4754-9c01-2323ec2eec96	b2bdf1ee-a4b5-4082-a78c-feba93b7617a	5800000	2025-10-10 00:00:00	ACCEPTED
\.


--
-- Data for Name: PositionSkill; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Quiz; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Question; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: QuizAttempt; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Setting; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Setting" (key, value, description, "updatedAt") FROM stdin;
maintenanceMode	false	If true, the entire public-facing site will be disabled.	2025-09-24 12:32:25.624
freeJobPostLimit	2	The number of open jobs an agency on the 'Free' plan can have.	2025-09-24 12:32:25.624
freeMemberLimit	1	The number of team members an agency on the 'Free' plan can have.	2025-09-24 12:32:25.624
\.


--
-- Data for Name: Shortlist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Shortlist" (id, "agencyId", "candidateId", source, "createdAt") FROM stdin;
e4160f75-f436-438c-8475-3eadf37d0a73	f7472be1-137d-42c4-b74a-9217988bd932	49318ac1-ce7e-435b-ac88-06a97a69641e	SEARCH	2025-09-28 10:19:00.706
\.


--
-- Data for Name: Verification; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: WorkExperience; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: WorkVerification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."WorkVerification" (id, "workExperienceId", "verifyingAgencyId", "verifierName", "verifierTitle", "verifiedAt") FROM stdin;
f5f5e0e9-acea-4b1f-8822-d47ac7c36ecd	e0c9644e-cbb5-47a2-ad7e-a42dc3fd809f	f7472be1-137d-42c4-b74a-9217988bd932	Agency Representative	\N	2025-10-09 23:38:40.182
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: Industry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Industry_id_seq"', 1835, true);


--
-- Name: LocationLGA_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."LocationLGA_id_seq"', 10836, true);


--
-- Name: LocationState_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."LocationState_id_seq"', 518, true);


--
-- Name: Skill_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Skill_id_seq"', 1124, true);


--
-- PostgreSQL database dump complete
--

